name: CI Pipeline
on:
  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: latest
      
      - name: Install dependencies
        run: npm install
      
      - name: Run tests
        run: npm test

#CD: Build and Deploy Job
build-and-deply:
needs:test 
run-on: ubuntu-latest
if : github.event.pull_requset.merged ==fales